<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS Application Host Configuration - Partial excerpt showing key elements -->
<configuration>
  <system.applicationHost>
    <sites>
      <site name="CascadeHRPortal" id="1">
        <application path="/">
          <virtualDirectory path="/" physicalPath="C:\inetpub\wwwroot\CascadeHRPortal" />
          <virtualDirectory path="/documents" physicalPath="\\fileserver\hr-documents" />
          <virtualDirectory path="/payslips" physicalPath="\\fileserver\payslips" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:80:" />
          <binding protocol="https" bindingInformation="*:443:" />
        </bindings>
      </site>
    </sites>
    <applicationPools>
      <add name="CascadeHRPortalAppPool" managedRuntimeVersion="" managedPipelineMode="Integrated">
        <processModel identityType="NetworkService" />
        <recycling>
          <periodicRestart time="00:00:00">
            <schedule><add value="02:00:00" /></schedule>
          </periodicRestart>
        </recycling>
      </add>
    </applicationPools>
  </system.applicationHost>
</configuration>
