<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CascadeHRPortal.Web.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <rule name="HTTPS Redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions><add input="{HTTPS}" pattern="^OFF$" /></conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
          <rule name="Legacy HR Portal Redirect" stopProcessing="true">
            <match url="^hr-portal/(.*)$" />
            <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true">
            <providers><add value="Negotiate" /><add value="NTLM" /></providers>
          </windowsAuthentication>
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>
